.main {
    margin: 50px;
    background-color: white;
}

body {
    background-color: #dfdfdf;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.text-color-999 {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.media-object {
    width: 40px;
}

.media-heading {
    padding: 10px;
}

.media {
    margin-top: 20px;
}

.profile .list-group {
    margin: 15px;
}

.operations {
    font-size: 12px;
    margin-right: 10px;
}

.jumbotron {
    background-color: #dfdfdf;
    margin: 100px;
}

.comment-box {
    margin: 20px 0;
}
