<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionVal} + ' - Diana嘉然论坛'"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/forum.css"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>

<div th:include="navigation :: nav"></div>

<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div>
                <h2>
                    <span aria-hidden="true" th:text="${sectionVal}"></span>
                </h2>
            </div>

            <hr>

            <div class="media" th:each="question : ${pagination.questions}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/' + ${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <span class="text-color-999">[[${question.commentCount}]] 个回复 • [[${question.readCount}]] 次浏览
                        • [[${question.likeCount}]] 个赞
                        • <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd')}"></span> 创建</span>
                </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirst}">
                        <a th:href="@{'/profile/'+${section}(pageNo=${1})}" aria-label="First">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrev}">
                        <a th:href="@{'/profile/' + ${section}(pageNo=${pagination.pageNo - 1})}" aria-label="Prev">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="pageNo : ${pagination.pages}" th:class="${pagination.pageNo == pageNo} ? 'active' : ''">
                        <a th:href="@{/profile/${section}(pageNo=${pageNo})}" th:text="${pageNo}">
                        </a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/profile/${section}(pageNo=${pagination.pageNo + 1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showLast}">
                        <a th:href="@{/profile/${section}(pageNo=${pagination.totalPage})}" aria-label="Last">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group">
                <a href="/profile/questions"
                   th:class="${section=='questions'}?'list-group-item active':'list-group-item'">我的提问</a>
                <a href="/profile/replies"
                   th:class="${section=='replies'}?'list-group-item active':'list-group-item'">
                    回复我的
                    <span class="badge">14</span>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>