<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.title} + ' - Diana嘉然论坛'">Diana嘉然论坛</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/forum.css"/>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>

<div th:include="navigation :: nav"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
            <div>
                <h1 th:text="${question.title}"></h1>
            </div>
            <!--            作者 Rhubarb | 发布于29 分钟前 | 阅读数：8-->
            <div>
                <span th:text="'作者 ' + ${question.user.name}"></span> |
                <span th:text="'发布于 ' + ${#dates.format(question.gmtModified,'yyyy-MM-dd')}"></span> |
                <span th:text="'阅读数：' + ${question.readCount}"></span>
            </div>
            <hr>

            <p th:text="${question.content}"></p>

            <hr>
            <hr>

            <div>
                <a class="operations" href="#" th:if="${session.user != null}">
                    <i class="glyphicon glyphicon-comment" aria-hidden="true">评论 </i>
                </a>

                <a class="operations" th:href="@{ '/publish/' + ${question.id}}" th:if="${session.user != null && session.user.id == question.user.id}">
                    <i class="glyphicon glyphicon-pencil" aria-hidden="true">编辑 </i>
                </a>
            </div>

        </div>

        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <h4>发起人</h4>

            <div class="media">
                <div class="media-left">
                    <a href="/profile/questions">
                        <img class="media-object" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/' + ${question.id}}" th:text="${question.user.name}"></a>
                    </h4>

                </div>
            </div>

            <hr>
            <h4>相关问题</h4>

            <hr>
            <h4>问题状态</h4>

        </div>
    </div>
</div>

</body>
</html>